<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pku.pkuapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.WebViewActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.LectureCalenderActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.InternShipActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.ActQueryActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.ClassQueryActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- pre.im 摇一摇测试 -->
        <meta-data
            android:name="TESTIN_APPKEY"
            android:value="49041bf654baa1d83666ca45f9841465" />
        <!--<meta-data-->
        <!--android:name="TESTIN_CHANNEL"-->
        <!--android:value="${UMENG_CHANNEL_VALUE}" />-->

    </application>

</manifest>
